sudo: false
language: ruby
cache: bundler
bundler_args: --without system_tests development
before_install:
- bundle -v
- rm Gemfile.lock || true
- gem update --system
- gem update bundler
- gem --version
- bundle -v
script:
- bundle exec rake $CHECK
matrix:
  fast_finish: true
  include:
  - rvm: 2.1
    env: PUPPET_VERSION="~> 4.0" STRICT_VARIABLES="yes" CHECK=test
  - rvm: 2.2
    env: PUPPET_VERSION="~> 4.0" STRICT_VARIABLES="yes" CHECK=test
  - rvm: 2.3.1
    env: PUPPET_VERSION="~> 4.0" STRICT_VARIABLES="yes" CHECK=rubocop
  - rvm: 2.3.1
    env: PUPPET_VERSION="~> 4.0" STRICT_VARIABLES="yes" CHECK=build FORGEDEPLOY=true
notifications:
  email: false
deploy:
  provider: puppetforge
  user: saz
  password:
    secure: Q5L+Jf2LuU861a8l2hXEnemovrBC4Z3fXZYawVpH2ymGXNpykmiZIDj0VRub5REb0o4hZUk5f6FYpB1OiNA0wAfFY1mbkOdTMnSuIEt6iZEH94TGWCsU85Vbyg7m1frpulLPQpyh6Nevi/5FZF4FjY1dVpmD8RlZJz4NK/a1Qmw=
  on:
    tags: true
    all_branches: true
    rvm: 2.3.1
    condition: "$FORGEDEPLOY = true"
